.container-about {
  display: flex;
  justify-content: flex-end;
  height: calc(100vh - 80px);
  width: 100%;
  color: #252627;
  background-color: #eef0f2;
}

.image-about {
  width: 60%;
  background-image: url('../../assets/images/bmw.jpg');
  background-size: cover;
  background-position: -140px;
  background-repeat: no-repeat;
}

.content-about {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 30px 40px;
}

.title-header {
  font-size: 48px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.about-us {
  letter-spacing: 1.2px;
  word-spacing: 2px;
  line-height: 1.6;
  margin-bottom: 16px;
  font-weight: lighter;
}

@media (max-width: 1080px) {
  .image-about {
    display: none;
  }

  .content-about {
    width: 100%;
  }
} ;
