.container-about {
  display: flex;
  justify-content: flex-end;
  height: calc(100vh - 80px);
  width: 100%;

}

.image-about{
  width: 60%;
  background-image: url('../../assets/images/bmw.jpg');
  background-position: -620px;
  background-repeat: no-repeat;
 
}

.content-about{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 30px 40px;
}

h1{
  font-size: 48px;
  font-weight: normal;
}