.container {
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #fafaff;
}

.nav-div-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafaff;
  height: 100%;
  width: 30%;
  background-color: #252627;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 20px;
  border-bottom: 1px solid #252627;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px;
}

.small-text {
  font-size: 10px;
  letter-spacing: 8px;
  font-weight: lighter;
}

.nav-div-2 {
  width: 0;
  height: 0;
  border-top: 80px solid #252627;
  border-right: 140px solid transparent;
  border-bottom: 0.1px solid #ecebe4;
}

.nav-div-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(70% - 80px);
  font-size: 36px;
  border-bottom: 0.1px solid #ecebe4;
}

ol {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-li {
  color: #252627;
  font-size: 16px;
  list-style: none;
  cursor: pointer;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  border-bottom: 1px solid #fafaff;
  margin: 8px;
  padding: 8px;
  position: relative;
}

.link {
  color: #252627;
  text-decoration: none;
  padding: 4px 10px;
  display: inline-block;
}

.link::after {
  content: '';
  display: block;
  width: 0;
  height: 0.1px;
  background: #252627;
  transition: width 0.2s;
}

.link:hover::after {
  width: 100%;
}

.active {
  opacity: 0.4;
}

@media (max-width: 1080px) {
  .container {
    height: 56px;
  }

  .nav-div-1 {
    height: 56px;
    width: 100%;
  }
  .nav-div-2 {
    display: none;
  }

  .nav-div-3 {
    position: fixed;
    bottom: 0;
    height: 56px;
    width: 100%;
    background-color: #252627;
  }
  .nav-li {
    display: none;
  }
}
