.contact-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 40px;
  position: relative;
  background-color: #eef0f2;
}

.contact-div > h1 {
  color: #252627;
  padding: 20px;
}

.contact-map {
  height: 500px;
  width: 70%;
  align-self: center;
  padding: 20px 30px;
}

.contact-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.contact-list-element {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 6px;
  padding: 6px 12px;
}

.contact-text {
  letter-spacing: 3px;
}

.icon-text-wrap {
  display: flex;
  flex-direction: column;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}

a {
  text-decoration: none;
}

@media (max-width: 1080px) {
  .contact-div {
    height: 120vh;
    padding: 10px 5px;
  }
  .contact-list {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .contact-map {
    height: 300px;
    width: 95%;
    padding: 20px;
  }
} ;
