.contact-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
}
.contact-map {
  height: 500px;
  width: 40%;
}

.contact-list {
  width: 40%;
  display: flex;
}

.contact-list-element {
  text-align: center;
  width: calc(100%/3);
}

@media (max-width: 1080px) {
  .contact-map {
    height: 400px;
    width: 80%;
  }
} ;
